<% content_for :title, "Update Profile - " %>
<%= stylesheet_link_tag "users.css" %>
<div class="container information">
<div class="user-form">

  <div class="row">
    <div class="col-md-8 mx-auto">

      <h1> Update Information </h1>
      <hr />
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>


        <div class="form-group">

          <%= f.file_field(:avatar, accept: 'image/png,image/gif,image/jpeg', id: 'cp-picture') %>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <%= f.label :firstName, "First Name <span class='star-warning'>*</span>".html_safe %>
            <%= f.text_field :firstName, class: 'form-control', required: true %>
            <div class="invalid-feedback">
              Invalid input
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <%= f.label :lastName, "Surname <span class='star-warning'>*</span>".html_safe %>
            <%= f.text_field :lastName, class: 'form-control', required: true %>
            <div class="invalid-feedback">
              Invalid input
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email, "Email <span class='star-warning'>*</span>".html_safe %>
          <%= f.email_field :email, class: 'form-control' %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <span class="label label-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></span>
          <% end %>
        </div>

            <div class="form-group">
              <%= f.label :phone, "Phone <span class='star-warning'>*</span>".html_safe %>
              <%= f.number_field :phone, class: 'form-control', required: true %>
              <div class="invalid-feedback">
                Invalid input
              </div>
            </div>

            <div class="form-group">
              <%= f.label :address1, "Address <span class='star-warning'>*</span>".html_safe %>
              <%= f.text_field :address1, class: 'form-control', required: true %>
              <div class="invalid-feedback">
                Invalid input
              </div>
            </div>

            <div class="form-group">
              <%= f.label :address2, "Address, Line 2" %>
              <%= f.text_field :address2, class: 'form-control'%>
              <div class="invalid-feedback">
                Invalid input
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6 mb-3">
                <%= f.label :suburb,"Suburb <span class='star-warning'>*</span>".html_safe %>
                <%= f.text_field :suburb, class: 'form-control', required: true %>
                <div class="invalid-feedback">
                  Invalid input
                </div>
              </div>

              <div class="col-md-6 mb-3">
                <%= f.label :city, "City <span class='star-warning'>*</span>".html_safe %>
                <%= f.text_field :city, class: 'form-control', required: true %>
                <div class="invalid-feedback">
                  Invalid input
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-9 mb-3">
                <%= f.label :state, "State <span class='star-warning'>*</span>".html_safe %>
                <%= f.text_field :state, class: 'form-control', required: true %>
                <div class="invalid-feedback">
                  Invalid input
                </div>
              </div>

              <div class="col-md-3 mb-3">
                <%= f.label :zip, "Zip <span class='star-warning'>*</span>".html_safe %>
                <%= f.number_field :zip, class: 'form-control', required: true %>
                <div class="invalid-feedback">
                  Invalid input
                </div>
              </div>
            </div>

        <div class="password-change-confirmation">
          <a onclick="show()", class="confirmation">Change Password?</a>

          <div id="password-change" style="display: none;">
            <div class="form-group">
              <%= f.label :password, "New password" %><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, "Confirm new password" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :current_password %><br />
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
        </div>

        <%= f.submit "Update", class: 'btn btn-primary' %>
      <% end %>

      <h3 style="margin-top:5%;">Delete my account</h3>
        <%= button_to "Delete my account", registration_path(resource_name), class: 'btn btn-danger',
                      data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>
</div>

<hr />




</div>
