<% header "Edit #{resource_name.to_s.humanize}" %>

<div class="row">
  <div class="col-md-4 mx-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :firstName %>
        <%= f.text_field :firstName, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <span class="label label-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></span>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password, "New password" %><br />
        <span class="help-block">leave blank to keep current password</span>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %><br />
        <span class="help-block">we need your current password to confirm your changes</span>
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
      </div>

      <%= f.submit "Update", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<hr />

<h3>Delete my account</h3>
  <%= button_to "Delete my account", registration_path(resource_name), class: 'btn btn-danger',
                data: { confirm: "Are you sure?" }, method: :delete %>
</p>

<%= link_to "Back", :back, class: 'btn btn-default btn-sm' %>
