<% header "Sign Up" %>

<div class="row">
  <div class="col-md-4 mx-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="col-md-12 mb-3">

          <div class="form-group">
            <%= f.label :firstName %>
            <%= f.text_field :firstName, class: 'form-control', required: true %>
            <div class="invalid-feedback">
              Invalid input
            </div>
          </div>


          <div class="form-group">
            <%= f.label :lastName %>
            <%= f.text_field :lastName, class: 'form-control', required: true %>
            <div class="invalid-feedback">
              Invalid input
            </div>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control', required: true %>
            <div class="invalid-feedback">
              Invalid input
            </div>
          </div>

          <div class="form-group">
            <%= f.label :phone %>
            <%= f.number_field :phone, class: 'form-control', required: true %>
            <div class="invalid-feedback">
              Invalid input
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', required: true %>
            <% if @validatable %>
              <span class="help-block"><%= @minimum_password_length %> characters minimum</span>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', required: true %>
          </div>

          <div class="form-group">
            <%= f.label :address1 %>
            <%= f.text_field :address1, class: 'form-control', required: true %>
            <div class="invalid-feedback">
              Invalid input
            </div>
          </div>

          <div class="form-group">
            <%= f.label :address2 %>
            <%= f.text_field :address2, class: 'form-control', required: true %>
            <div class="invalid-feedback">
              Invalid input
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <%= f.label :suburb %>
              <%= f.text_field :suburb, class: 'form-control', required: true %>
              <div class="invalid-feedback">
                Invalid input
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <%= f.label :city %>
              <%= f.text_field :city, class: 'form-control', required: true %>
              <div class="invalid-feedback">
                Invalid input
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-9 mb-3">
              <%= f.label :state %>
              <%= f.text_field :state, class: 'form-control', required: true %>
              <div class="invalid-feedback">
                Invalid input
              </div>
            </div>

            <div class="col-md-3 mb-3">
              <%= f.label :zip %>
              <%= f.number_field :zip, class: 'form-control', required: true %>
              <div class="invalid-feedback">
                Invalid input
              </div>
            </div>
          </div>

        </div>
      </div>


      <%= f.submit "Sign up", class: 'btn btn-primary' %>
    <% end %>

  </div>
</div>

<%= render "devise/shared/links" %>
