<div class="user-form">
  <h1> Update Information </h1>
  <hr />
  <div class="row">
    <div class="col-md-6 mx-auto">
    <%= form_for @stores, url:'/store', method: :patch do |f| %>
        <%= f.label :name, "Store Name" %>
        <%= f.text_field :name, class: 'form-control', required: true %>
            <div class="invalid-feedback">
                Invalid Input
            </div>


        <%= f.label :description, "Store Description" %>
        <%= f.text_area :description, :rows => 10, style: 'width:100%;', class: 'form-control', required: true %>
            <div class="invalid-feedback">
                Invalid Input
            </div>

        <%= f.submit "Update", class: 'btn btn-primary' %>
      <% end %>

    </div>
  </div>
</div>
