

<div class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12" id="seller-card">
        <div id="title-information">
          <p> Seller Information </p>
        </div>

        <%= image_tag( "products/p-camera.png", id: 'seller-card-picture') %>
        <div id="store-information">
          <p id="store-name"><%= @store.name.upcase %></p>
          <p id="store-location">Danau UI</p>
          <p id="store-description"><%= @store.description %></p>

          <% if current_user.stores_id==@store.id %>
            <div class="col-md-2 right-align-card">
              <%= link_to 'Edit', edit_store_path, {:id => 'edit-link'} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-8" id="title-item">
        <p> Transaction </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="transaction-history">
          <tr>
            <td class="transaction-title text-center"> Item Name </td>
            <td class="transaction-title text-center"> Quantity </td>
            <td class="transaction-title text-center"> Buyer </td>
            <td class="transaction-title text-center"> Status </td>
          </tr>
        <% @transaction.each do |transaction| %>
          <div class="row">
            <div class="col-12">
              <tr>
                <td class="transaction-item text-center"> <%= transaction.title %> </td>
                <td class="transaction-item text-center"> <%= transaction.quantity %> </td>
                <td class="transaction-item text-center"> <%= transaction.buyer %> </td>
                <td class="transaction-item text-center"> <%= transaction.status %> </td>
              </tr>
            </div>
          </div>
        <% end %>
      </table> 

      </div>
    </div>

  </div>
</div>