<p> Hello!</p>


<%= form_for(:stores, as: :stores_name, url: stores_path) do |f| %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.label :name, "Store Name" %>
    <%= f.text_field :name, class: 'form-control', required: true %>
        <div class="invalid-feedback">
            Invalid Input
        </div>


    <%= f.label :description, "Store Description" %>
    <%= f.text_field :description, class: 'form-control', required: true %>
        <div class="invalid-feedback">
            Invalid Input
        </div>


      <%= f.submit "Sign up", class: 'btn btn-primary' %>

<% end %>