<div class="container information">
<div class="user-form">
  <h4> Add a new store </h4>
  <hr />
  <div class="row">
    <div class="col-md-6 mx-auto">
        <% if current_user.stores_id? %>
            <h4> You already have a store! </h4>
        <% else %>
            <%= form_for(:stores, as: :stores_name, url: stores_path) do |f| %>


                    <div class="form-group">
                      <%= f.label :avatar, "Store Picture" %>
                      <br />
                    </div>


                    <div class="cp-div-pic cp-div-remove">
                      <div class="cp-div-picupload">
                        <img src='#' id='pic-uploaded' class="cp-pic-uploaded cp-miss-pic">
                      </div>
                      <div class="cp-pic-button">
                        <div class="">
                            <%= f.file_field(:avatar, accept: 'image/png,image/gif,image/jpeg', id: 'cp-picture') %>
                        </div>
                        <div class="cp-choose-pic">Choose your picture</div>
                          <div class='clearfix'></div>
                      </div>
                    </div>

                <br />

                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.label :name, "Store Name" %>
                <%= f.text_field :name, class: 'form-control', required: true %>
                    <div class="invalid-feedback">
                        Invalid Input
                    </div>

                <br />

                <%= f.label :description, "Store Description" %>
                <%= f.text_area :description, class: 'form-control', required: true %>
                    <div class="invalid-feedback">
                        Invalid Input
                    </div>

                <br />

                  <%= f.submit "Add store", class: 'btn btn-primary' %>

            <% end %>
        <% end %>
    </div>
  </div>
</div>
</div>