

<div class="row" style="margin-top:5%;">
	<div class="col-md-3">
		<div class="row">
			<div class="col-md-12" id="seller-card">
				<div id="st-info">
					Seller Information
				</div>


				<div id="st-storeinfo">
					<% if @store.avatar? %>
				      <%= image_tag(@store.avatar.url, :class => "profile-picture") %>
				    <% else %>
					<%= image_tag( "products/p-camera.png", id: 'seller-card-picture', alt: 'store picture', style: "display: inline;", class: "img-frame") %>
				    <% end %>
					<div id="store-information">
						<p id="store-name"><%= @store.name.upcase %></p>
						<p id="store-description"><%= @store.description %></p>

						<% if current_user.stores_id==@store.id %>
							<div class="col-md-2 right-align-card">
								<%= link_to 'Edit', edit_store_path, {:id => 'edit-link'} %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<% if current_user.stores_id==@store.id %>
			<div class="row" style="margin-top:5%;">
				<div class="col-md-12 mx-auto">
					<%= link_to new_product_path, {:id => 'button-link'} do %>
						<div class="store-button">
							<p> Add a New Product </p>
						</div>
					<% end %>

					<%= link_to store_history_path, {:id => 'button-link'} do %>
						<div class="store-button">
							<p> Transaction History </p>
						</div>
					<% end %>

				</div>
			</div>
		<% end %>
	</div>


	<div class="col-md-8">
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
		 google.charts.load('current', {'packages':['corechart']});
		 google.charts.setOnLoadCallback(drawChart);

		 function drawChart() {

			 var data = google.visualization.arrayToDataTable([
				 ['Task', 'Hours per Day'],
				 <% for category in @categoryDict %>
				 ['<%= category[0] %>',    <%= category[1].to_i %> ],
				 <% end %>
			 ]);

			 var options = {
				 title: 'Products Summary based on category'
			 };

			 var chart = new google.visualization.PieChart(document.getElementById('piechart'));

			 chart.draw(data, options);
		 }
	 </script>
		<div id="piechart" style="width: 900px; height: 350px;"></div>

		<div class="row">
			<div class="col-md-8" id="title-item">

				<p> Your Products </p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">

				<% @store_products.each_slice(4) do |group_product| %>
					<div class="row">
						<% group_product.each do |each_product| %>

								<div class="col-6 col-sm-3" id="s-cat-card">
									<%= link_to product_path(each_product), {:id => 's-cat-product-card'} do %>
									<div id="s-cat-div-image">
										<% pic = [] %>

										<% for picture in each_product.pictures %>
								          <% pic << picture %>
								        <% end %>

								        <% if pic === [] %>
								          <%= image_tag( "products/p-camera.png", id: 's-cat-front-image') %>
								        <% else %>
								          <%= image_tag( each_product.pictures[0].image.url, id: 's-cat-front-image') %>
								        <% end %>
									</div>

									<div id="s-cat-desc">
										<p class="s-cat-desc-title"><%= each_product.title %></p>
										<p class="s-cat-desc-price">$ <%= each_product.price %> </p>
									</div>
									<% end %>
								</div>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>


		<% if current_user.stores_id==@store.id %>

			<% if @store_inactive.exists? %>
				<hr />

				<div class="row">
					<div class="col-md-8" id="title-item">
						<p> Inactive Products </p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">

						<% @store_inactive.each_slice(4) do |group_product| %>
							<div class="row">
								<% group_product.each do |each_product| %>

										<div class="col-6 col-sm-3" id="s-cat-card">
											<%= link_to product_path(each_product), {:id => 's-cat-product-card'} do %>
											<div id="s-cat-div-image">
												<% pic = [] %>
												<% for picture in each_product.pictures %>
										          <% pic << picture %>
										        <% end %>

										        <% if pic === [] %>
										          <%= image_tag( "products/p-camera.png", id: 's-cat-front-image') %>
										        <% else %>
										          <%= image_tag( each_product.pictures[0].image.url, id: 'cat-front-image') %>
										        <% end %>
											</div>

											<div id="s-cat-desc">
												<p class="s-cat-desc-title"><%= each_product.title %></p>
												<p class="s-cat-desc-price">$ <%= each_product.price %> </p>
											</div>
											<% end %>
										</div>
								<% end %>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>

		<% end %>


	</div>
</div>
