<%= stylesheet_link_tag "users.css" %>

<div class="row user-form">
  <div class="col-md-6 mx-auto">
    <h2>Resend unlock instructions</h2>
    or <%= render "devise/shared/links" %>

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field" style="margin-top:5%;">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions" style="margin-top:5%;">
        <%= f.submit "Resend unlock instructions" %>
      </div>
    <% end %>



  </div>
</div>
