<% content_for :title, "Transaction - " %>
<div class="container information">
	<div class="row">
		<div class="col-md-3">
			<% if @user.avatar? %>
		      <%= image_tag(@user.avatar.url, :class => "profile-picture") %>
		    <% else %>
	          <%= image_tag('default_profile_picture.jpg', :alt => "profile picture", :style => "display: inline", :class => "img-frame") %>
		    <% end %>

				<%= link_to user_path(@user), {:id => 'button-link'} do %>
					<div class="profile-trans-btn">
						<p> My profile </p>
					</div>
				<% end %>

	    </div>

	    <div class="col-md-8">
	    	<div class="row">
		      <div class="col-md-8" id="title-item">
		        <p> Transaction History </p>
		      </div>
		    </div>

				<% if current_user.id==@user.id %>

				<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
			  <script type="text/javascript">
			    google.charts.load('current', {'packages':['table']});
			    google.charts.setOnLoadCallback(drawTable);

					var cssClassNames = {
						'headerRow': 'cssHeaderRow',
			      'tableRow': 'cssTableRow',
			      'oddTableRow': 'cssOddTableRow',
			      'selectedTableRow': 'cssSelectedTableRow',
			      'hoverTableRow': 'cssHoverTableRow',
			      'headerCell': 'cssHeaderCell',
			      'tableCell': 'cssTableCell',
			      'rowNumberCell': 'cssRowNumberCell'
					};

			    function drawTable() {
			      var data = new google.visualization.DataTable();
						data.addColumn('string', 'Order Id');
			      data.addColumn('string', 'Name');
			      data.addColumn('string', 'Price');
			      data.addColumn('string', 'Quantity');
						data.addColumn('string', 'Status');
						data.addColumn('string', 'Invoice');
			      data.addRows([
							<% @transactions.each do |order| %>
							<% order.order_items.each do |item| %>
			        [ '<%= item.order_id %>', '<%= item.product.title %>', '$ <%= item.unit_price.to_i %>', '<%= item.quantity %>', '<%= item.status %>', '<%= link_to "Invoice", user_receipt_url(order_id: item.order_id, :format => :pdf)  %>' ],
							<% end %>
							<% end %>
			      ]);

			      var table = new google.visualization.Table(document.getElementById('table_div'));

			      table.draw(data, {width: '100%', height: '100%', 'allowHtml': true, 'cssClassNames': cssClassNames});
			    }
			  </script>

				<% end %>

				<div id="table_div"></div>
		</div>
	</div>

</div>
