<div id="small-page" style="margin-top: 10%">
	<p id="page-title">Catalogue</p>

	<p><%= link_to "New Product", new_product_path %></p>

	<% @product.each_slice(4) do |group_product| %>
	<div class="row">
		<% group_product.each do |each_product| %>

				<div class="col-6 col-sm-3" id="cat-card">
					<%= link_to product_path(each_product), {:id => 'cat-product-card'} do %>
					<div id="cat-div-image">
						<% pic = [] %>
						<% for picture in each_product.pictures %>
		          <% pic << picture %>
		        <% end %>

		        <% if pic === [] %>
		          <%= image_tag( "products/p-camera.png", id: 'cat-front-image') %>
		        <% else %>
		          <%= image_tag( each_product.pictures[0].image.url, id: 'cat-front-image') %>
		        <% end %>
					</div>
					<div id="cat-desc">
						<p class="cat-desc-title"><%= each_product.title %></p>
						<p class="cat-desc-price">$ <%= each_product.price %> </p>
						<p>Deco Deco Shop </p>
						<p>Toowong, 2 km</p>
					</div>
					<% end %>
				</div>

		<% end %>
	</div>
	<% end %>
</div>
