<div id="small-page">
	<p id="page-title">Category "<%= @category["title"] %>"</p>

	<% if @prod_cat.count > 0 %>

	<% @prod_cat.each_slice(4) do |group_product| %>
	<div class="row">
		<% group_product.each do |each_product| %>

				<div class="col-6 col-sm-3" id="cat-card">
					<%= link_to product_path(each_product), {:id => 'cat-product-card'} do %>
					<div id="cat-div-image">
						<% pic = [] %>
						<% for picture in each_product.pictures %>
		          <% pic << picture %>
		        <% end %>

		        <% if pic === [] %>
		          <%= image_tag( "products/p-camera.png", id: 'cat-front-image') %>
		        <% else %>
		          <%= image_tag( each_product.pictures[0].image.url, id: 'cat-front-image') %>
		        <% end %>
					</div>
					<div id="cat-desc">
						<p class="cat-desc-title"><%= each_product.title %></p>
						<p class="cat-desc-price">$ <%= each_product.price %> </p>
						<br/><p class="h-cat-desc-store"><%= @store.find(each_product.stores_id).name %></p>
					</div>
					<% end %>
				</div>

		<% end %>
	</div>
	<% end %>

	<% else %>

	<div class="no-product-txt">
		Sorry :( There is no product
		<br/>Go back to <%= link_to root_path do%> home <% end %>
	</div>

	<% end %>

</div>
