<div class="error-text">

</div>


<div id="small-page">

  <p style="margin-top:5%;"> </p>
<% pic = [] %>
  <div class="row">
    <div class="col-sm-4">
      <div class="pd-div-image">
        <% for picture in @product.pictures %>
          <% pic << picture %>
        <% end %>

        <% if pic === [] %>
          <%= image_tag( "products/p-camera.png", id: 'pd-clicked-image', class: 'pd-clicked-image') %>
        <% else %>
          <%= image_tag( @product.pictures[0].image.url, id: 'pd-clicked-image', class: 'pd-clicked-image') %>
        <% end %>

      </div>

      <div class="row" style="padding: 5%">
        <% for picture in @product.pictures %>
      		<div class="col-4 pd-image-small" id="pd-div-image-small">
            <%= link_to image_tag(picture.image.url, id: 'pd-image') %>
          </div>
      	<% end %>
      </div>
    </div>

    <div class="col-sm-5">

      <p id="page-title"><%= @product.title %></p>
      <p>
        <%= @product.description %>

        <p>
          <%= link_to "Edit", edit_product_path(@product) %> |

          <% if @product.active == true %>
            <%= link_to "Deactivate", controller: "products", action: "deactivate", id: @product %> |
          <% else %>
            <%= link_to "Activate", controller: "products", action: "activate", id: @product %> |
          <% end %>
          <%= link_to "View All", "/catalogue" %>
        </p>
      </p>
    </div>

    <div class="col-sm-3">
      <%= form_for @order_item, remote: true do |f| %>

        <div class="input-group" id="pd-div-price">
          <div class="cart-price">
            <div> price </div>
            $ <%= @product.price %>
          </div>
          <div class="text-left cart-quantity"> quantity </div>
          <%= f.number_field :quantity, value: 1, class: "form-control quantity-form", min: 1 %>
          <div class="input-group-btn" id="pd-div-addtocart">
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.hidden_field :order_status_id, value: 1 %>
            <%= f.submit "ADD TO CART", class: 'btn btn-outline-primary cart-button'%>
          </div>
        </div>
      <%end%>


      <div id="pd-div-seller">
        seller information
      </div>
      <div id="pd-div-sellerinfo">
        Change This
      </div>
    </div>

  </div>




</div>
